#home-container {
  width: 100%;
  height: 94%;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#react-logo {
  width: 200px;
  height: 180px;
}
